

/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
      /* background: #131943; */
      background: linear-gradient(to bottom right, #0a0e27, #0f1642, #1a1f4d);

  /* background-color: pink; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
  text-transform: capitalize;
}

